@use 'colors' as c;
@use 'components' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	color: c.$text-color;
	background-color: c.$bg-color;
}

.nav {
	position: sticky;
	top: 0;
	left: 0;
	background-color: c.$bg-color;
	z-index: 101;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1em;
		height: 60px;
	}

	&__logo {
		font-size: 2.2rem;
		font-weight: bold;
	}
	&__menu {
		position: absolute;
		top: 60px;
		left: 0;
		height: calc(100vh - 60px);
		width: 100%;
		translate: -100% 0;
		transition: translate 0.3s;
		background-color: c.$bg-color;
		z-index: 100;

		&--active {
			translate: 0;
		}
	}

	&__item {
		display: block;
		margin-top: 3.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		color: c.$text-color;
		background-color: c.$bg-color;
	}

	&__bars {
		&--active {
			.nav__line:nth-child(1) {
				rotate: -45deg;
				translate: 0 8px;
			}
			.nav__line:nth-child(2) {
				opacity: 0;
			}
			.nav__line:nth-child(3) {
				rotate: 45deg;
				translate: 0 -7px;
			}
		}
	}

	&__line {
		margin: 0.3em 0;
		height: 3px;
		width: 30px;
		border-radius: 10px;
		background-color: c.$text-color;
		transition: rotate 0.3s, translate 0.2s, opacity 0.2s;
	}
}

.header {
	position: relative;
	margin: auto;
	overflow: hidden;
	width: 100%;

	&__slider {
		display: flex;
		width: 200%;
		transition: transform 0.5s ease-in-out;
	}

	&__slide {
		width: 100%;
	}

	&__photo {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: clamp(380px, 400px, 420px);
		background-size: cover;
		background-position: center;

		&--one {
			background-image: url('../img/header--big.jpg');
		}

		&--two {
			background-image: url('../img/header-two.jpg');
		}

		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: c.$hero-color;
			z-index: 1;
		}
	}
}

.products {
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 50px;
		margin-top: 4em;
	}

	&__wine {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		padding: 0.5em 1em;
		height: 280px;
		width: 260px;
		background-color: c.$wine-bg;

		img {
			width: 50%;
			height: 50%;
		}

		&--title {
			font-weight: bold;
		}

		&--bottom {
			text-align: center;
		}

		&--price {
			margin-top: 0.5em;
		}
	}
}

.opinion {
	&__photo {
		position: relative;
		height: clamp(380px, 400px, 440px);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-image: url('../img/wine-opinion-small.jpg');

		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: c.$hero-color;
			z-index: 1;
		}

		.universal-text {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}
	}

	&__container {
		position: relative;
		margin: 4em auto;
		width: 80%;
		overflow: hidden;
	}

	&__wrapper {
		display: flex;
		transition: transform 0.5s ease-in-out;
	}

	&__user {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 0.5em 1em;
		min-width: 100%;
		text-align: center;
	}

	&__avatar {
		margin-bottom: 1em;
		height: 150px;
		width: 250px;
		background-image: url('../img/opinion-face1.png');
	}

	&__text {
		margin: 1em 0;
	}

	&__name {
		font-weight: bold;
	}

	&__btns {
		margin-top: 2em;
	}
}

@media (min-width: 576px) {
	.opinion {
		&__photo {
			background-image: url('../img/wine-opinion-big.jpg');
		}

		&__text {
			width: 350px;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&__logo {
			font-size: 2.8rem;
		}
	}

	.header {
		&__photo {
			height: clamp(460px, 580px, 600px);
		}

		&__text {
			font-size: 3.6rem;
		}
	}

	.products {
		&__box {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__title {
			font-size: 3rem;
		}

		&__text {
			font-size: 1.6rem !important;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__menu {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			position: static;
			width: 50%;
			height: 100%;
			translate: 0;
		}

		&__item {
			margin: 0 0 0 1em;
			position: relative;

			&::after,
			&::before {
				content: '';
				position: absolute;
				width: 0;
				bottom: 0;
				border-radius: 10px;
				border-bottom: 2px solid c.$text-color;
				transition: width 0.3s;
			}

			&::after {
				left: 50%;
			}

			&::before {
				right: 50%;
			}

			&:hover::after,
			&:hover::before {
				width: 50%;
			}
		}

		&__bars {
			display: none;
		}
	}

	.header {
		width: 98%;
	}

	.products {
		&__wine {
			height: 380px;
			width: 360px;

			img {
				width: 60%;
				height: 60%;
			}
		}

		&__title {
			font-size: 4rem;
		}

		&__text {
			font-size: 2.4rem;
		}
	}

	.opinion {
		&__photo {
			height: clamp(580px, 500px, 640px);
		}

		&__user {
			min-width: 50%;
		}

		&--three {
			display: none;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		padding: 0;
	}

	.header {
		max-width: 1200px;
		width: 100%;
	}
}
